@{
    ViewBag.Title = "A Pesquisa - Veganos";
    ViewBag.Description = "Queremos ajudar você a ter certeza que seus produtos não ferem seus princípios, em breve mais uma ferramenta para te ajuda a escolher o produto certo para você.";
    ViewBag.Canonical = "http://www.apesquisa.com.br/Vegano";
}
<div class="breadcumb_area bg-img" style="background-image: url('../Content/img/brand/Cutted Background.png');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h1>VEGANO</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="shop_grid_area section-padding-20-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Olá! Estamos tentando o nosso máximo liberar essa funcionalidade para você, porém como não queremos <br />
                    cometer nenhum erro essa funcionalidade ainda está sendo desenvolvida e testada.
                </p>
                <p>Se você tiver qualquer sugestão sobre o que gostaria de poder analisar, envie-nos uma mensagem, ficaremos muito feliz com sua ajuda!</p>
            </div>
            @Html.Partial("~/Views/Ajuda/_SendSuggestion.cshtml")
        </div>
    </div>
</section>

<section class="shop_grid_area" id="resultSection"></section>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>