<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="APesquisaContext" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>    
    <add key="DataSource" value="tcp:nameit.database.windows.net,1433"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InitialCatalog" value="APesquisa"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UserId" value="isabella"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Password" value="Isabell@4417"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
  </system.web>
</configuration>
