@{
    ViewBag.Title = "A Pesquisa - Guia de No Poo e Low Poo";
    ViewBag.Description = "O A Pesquisa busca ajudar as adeptas às tecnicas de No Poo e Low Poo a te ajudar a descobrir se os componentes do seu produto são proibidos ou liberados.";
    ViewBag.Canonical = "http://www.apesquisa.com.br/";
}

<section class="welcome_area bg-img background-overlay h-100" style="background-image: url('../Content/img/brand/Welcome Background.png');">
    <div class="container h-70">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content" style="max-width: 65%">
                    <h1>Um Guia para No Poo e Low Poo</h1>
                    <p>O A Pesquisa, busca ajudar as adeptas às tecnicas de "Low Poo" e "No Poo" a encontrar um produto que respeite suas restrições, informando e analisando a composição dos produtos.</p>
                    <h3>Cansada de ser enganada!?</h3>
                    <p>Se você alguma vez teve dúvida se um produto era permitido para as técnicas de Low ou No Poo saiba que você não está só!</p>
                    <p>Quem segue a técnica sabe como é dificil comprar um novo produto, busca blogs e blogs para ver se alguém já falou deles, olha o site da empresa, olha sites de compra. Mas nem sempre conseguimos uma resposta. E quando conseguimos vemos que faz 3 anos que deram a informação, e o produto for reformulado. Aff! E agora?</p>

                    <p>Nós já contamos com um cadastro super completo de mais de 300 componentes proibidos para uma das duas técnicas (contando com suas diversas formas de serem escritos). E queremos te ajudar a seguir a técnica sem medo de ser enganada!</p>
                    <p>O A Pesquisa está aqui para te ajudar a analisar todos os componentes do produto que você deseja. Basta você ter a lista de componentes do produto que iremos ver se ele é liberado mesmo :)</p>
                    <h6>Fácil né? Experimente nossa ferramenta de análise agora mesmo clicando @Html.ActionLink("aqui", "Index", "NoLowPoo")!</h6>
                </div>
            </div>
        </div>
    </div>
</section>
