@{
    ViewBag.Title = "A Pesquisa - Erro!";
}
<div class="breadcumb_area bg-img" style="background-image: url('../Content/img/brand/Cutted Background.png');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>A Pesquisa - 400</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="shop_grid_area section-padding-20-80">
    <div class="container">
        <h1>Desculpe</h1>
        <h5>Encontramos problema ao realizar sua requisição, favor tentar novamente mais tarde :(</h5>
    </div>
</section>