@{
    ViewBag.Title = "A Pesquisa - O que é No Poo e Low Poo";
    ViewBag.Description = "Uma explicação sobre o que é No Poo, Low Poo e sobre componentes Liberados ou Proibidos na técnica.";
    ViewBag.Canonical = "http://www.apesquisa.com.br/NoLowPoo/OQueE";
}

<div class="single-blog-wrapper">

    <!-- Single Blog Post Thumb -->
    <div class="breadcumb_area bg-img" style="background-image: url('../Content/img/brand/Cutted Background.png');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h1>O que é No e Low Poo?</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12">
                <div class="regular-page-content-wrapper section-padding-80">
                    <div class="regular-page-text">
                        <h2>O que é No Poo e o que é Low Poo?</h2>
                        <p><strong>Low Poo</strong> é uma técnica em que se utiliza apenas produtos sem sulfatos pesados e todos os componentes que somente são removidos com os mesmos.</p>
                        <p><strong>No Poo</strong> deixa-se de utilizar qualquer tipo de sulfato e substâncias que são removidas somente com eles e passa-se a utilizar apenas agentes de limepeza não agressivos.</p>
                        <h3>Mas por quê fazer isso?</h3>
                        <p>Os produtos capilares convencionais possuem muitas substâncias que fazem bem para o nosso cabelo, porém como não deve ser surpresa para ninguém, eles também podem acabar prejudicando seu cabelo. </p>
                        <p>Se você alguma vez entrou no banho e após passar o shampoo notou que seu cabelo aparentava ainda mais embaraçado, saiba que não está sozinha, e eu sei quem foi o vilão desta história. </p>
                        <p>Shampoos convencionais possuem diversos <strong>sulfatos pesados</strong>, que são os responsáveis por tirar a sujeira do cabelo e formar aquela espuminha gostosa... Mas ele infelizmente não leva somente a sujeira com ele. Os sulfatos, principalmente os mais pesados também levam junto toda a oleosidade natural do cabelo, e com isso acaba os deixando mais ressecados e embaraçados. </p>
                        <p>As técnicas Low e No Poo são justamente para acabar com o uso dessa substância que leva mais do que a gente precisa. Ou seja, “Sem Shampoo”. </p>
                        <h6>Mas eu vou ficar sem lavar o cabelo? </h6>
                        <p>Não se assuste. Não quer dizer que você irá deixar de lavar seus cabelos, apenas que dizer que vai usar apenas <strong>Sulfatos Leves no Low Poo</strong>, que limpam o cabelo sem prejudicar a oleosidade natural necessária, ou então usará apenas <strong>agentes de limpeza no No Poo</strong> que são ainda mais leves, mas que exigem mais cuidados na hora de escolher um produto para o cabelo. </p>
                        <h6>Então é só eu trocar meu shampoo? </h6>
                        <p>Infelizmente não. Os shampoos são tão agressivos assim por questão de necessidade. Outros produtos capilares como condicionadores, máscaras e cremes para pentear contém algumas substâncias que só saem com sulfatos pesados, e por este motivo você também terá que evitar algumas substâncias em todos seus produtos capilares. </p>
                        <p><strong>Petrolatos</strong> são o nosso grande vilão. É uma substância que está em muitos dos nossos produtos, eles formam um película em volta do fio que da uma aparência imediata de mais brilho e alinhamento, porém isso não quer dizer que o fio está realmente hidratado, ele apenas está com uma maquiagem que só sai com os Sulfatos Pesados e que além disso impede que a hidratação entre no nosso cabelo. </p>
                        <p>
                            Além dos petrolatos existem outros tipos de substâncias proibidas para as técnicas. <br />
                            Nessa tabelinha vou tentar deixar resumido qual tipo de substância é proibida e qual é liberada para cada uma das técnicas.
                        </p>
                        <div style="align-content: center; text-align: center;margin-bottom: 25px;"><img src="~/Content/img/brand/Tabela.png" /></div>

                        <div class="text-center">
                            <h5>Dúvidas sobre quais componentes são proibidos?</h5>
                            <p>Nós temos uma lista completa com todos os componentes proibidos e algumas de suas variações de nomenclatura  @Html.ActionLink("aqui", "ListaDeComponentes", "NoLowPoo").</p>

                            <h5>Quer saber se um produto é liberado?</h5>
                            <p>Basta ter a composição em mãos que nossa ferramenta faz a analise para você @Html.ActionLink("aqui", "Index", "NoLowPoo"). </p>

                            <h5>Quer saber mais sobre No e Low Poo?</h5>
                            <p>Aqui está um vídeo bem completinho sobre o que é a técnica.</p>
                            <iframe width="420" height="315" src="https://www.youtube.com/embed/7QapgKleweY" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>